<div class="container sectionContent">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">ATMP</h1>
      <div class="flex-center">
        <img src="./images/ATMP-top.png" class="img-fluid topImg">
        <p>PLEVREN®-A-серия (ATMP) Продукты этой серии являются превосходными комплексообразователями, а также универсальными в использовании ингибиторами для различных минеральных солеотложений (Scale). Отдельные продукты серии ATMP по стандартизации северо-американского стандарта  NSF/ANSI 60 просертифицированы  для использования в производстве питьевой воды. PLEVEN® ACS 402 предлагается в качестве ATMP –продукта, совместимого с активным хлором.</p>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ATMP</th>
            <th scope="col" colspan="2">Säuren</th>
            <th scope="col" colspan="3">Соли</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">PLEVREN®</th>
            <th>AP 1</th>
            <th>AP 5</th>
            <th>A 4014</th>
            <th>A 4015</th>
            <th>ACS 402</th>
          </tr>
          <tr>
            <th scope="row">pH-показатель</th>
            <td>< 2</td>
            <td>< 2</td>
            <td>8</td>
            <td>10</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row" colspan="6">Содержание активного вещества [%]</th>
          </tr>
          <tr>
            <td scope="row">В качестве кислоты</td>
            <td>50</td>
            <td>50</td>
            <td>30</td>
            <td>29</td>
            <td>27</td>
          </tr>
          <tr>
            <td scope="row">В качестве соли </td>
            <td>-</td>
            <td>-</td>
            <td>40</td>
            <td>40</td>
            <td>43</td>
          </tr>
          <tr>
            <th scope="row">Тип и степень нейтрализации</th>
            <td>-</td>
            <td>-</td>
            <td>Nax, x ~ 4</td>
            <td>Nax, x ~ 5</td>
            <td>Kx, x ~ 5</td>
          </tr>
          <tr>
            <th scope="row">max. содержание хлорида [%]</th>
            <td>0,05</td>
            <td>1,0</td>
            <td>1,0</td>
            <td>1,0</td>
            <td>1,0</td>
          </tr>
          <tr>
            <th scope="row">CAS</th>
            <td>6419-19-8</td>
            <td>6419-19-8</td>
            <td>20592-85-2*</td>
            <td>20592-85-2*</td>
            <td>255830-15-0</td>
          </tr>
          <tr>
            <th scope="row">EC</th>
            <td>229-146-5</td>
            <td>229-146-5</td>
            <td>243-900-0*</td>
            <td>243-900-0*</td>
            <td>700-903-6</td>
          </tr>
        </tbody>
      </table>
      <p>* CAS и EC номера предоставлены для неспецифической формы соли M.</p>
      <img src="./images/ATMP.png" class="img-fluid">
      <p class="img-title">ATMP PLEVREN®-A-серия</p>
    </div>
  </div>
</div>