<div class="container sectionContent">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title">PLEVREN A 4014</h1>
      <div class="mb5">
        <p><span class="bold">Химическая идентичность:</span>	Амино-трис(метиленфосфоновая кислота), соль Na4</p>
        <p><span class="bold">CAS-номер:</span>	20592-85-2</p>
        <p><span class="bold">EINECS-номер:</span>	243-900-0</p>
        <p><span class="bold">Внешний вид:</span>	Прозрачная, бесцветная или желтоватая жидкость</p>
        <p><span class="bold">Максимальное содержание хлорида [%]:</span>	1%</p>
        <p><span class="bold">рН- показатель (10 г/л, 25°С):</span>	8</p>
        <p><span class="bold">Содержание активного вещества:</span>	30%</p>
        <p><span class="bold">Железо:</span>	макс.3 ppm</p>
      </div>
      <div class="h2">Свойства:</div>
      <p>PLEVREN А 4014 является превосходным ингибитором отложений и препятствует выпадению тяжело растворяющихся солей щелочно-земельных металлов уже при добавлении небольших стехиометрических количеств фосфоната. Это свойство известно как эффект Threshold.</p>
      <div class="h2">Сфера применения</div>
      <ul class="list-unstyled">
        <li>- для изготовления моющих и чистящих средств</li>
        <li>- для производства текстильно-вспомогательных веществ</li>
        <li>- для обработки циркуляционной охлаждающей воды</li>
        <li>- для стабилизации соединений перекиси</li>
      </ul>
      <p>Данный продукт производится исключительно на заводе в г.Мосдорф/Саксония фирмы Zschimmer und Schwarz Mohsdorf GmbH & Co KG.</p>
      <a href="#" class="downloadLink">
        <img src="./images/pdf-download.png">
        <p>Отчет компании(PDF 4,35 MB)</p>
      </a>
    </div>
  </div>
</div>